{% if pagination|length > 1 %}

{% if base_url == '' %}
    {% set base_url = '/' %}
{% endif %}

<div class="post-nav archive-nav pagination">
    {% if pagination.hasPrev %}
        {% set url = (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        <a rel="prev" href="{{ url }}">&laquo;</a>
    {% endif %}
    {% for paginate in pagination %}
        {% if paginate.isCurrent %}
            <a href="#" class="current">{{ paginate.number }}</a>
        {% elseif paginate.isInDelta %}
            {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
            <a href="{{ url }}">{{ paginate.number }}</a>
        {% endif %}
    {% endfor %}
    {% if pagination.hasNext %}
        {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <a rel="next" href="{{ url }}">&raquo;</a>
    {% endif %}
</div>
{% endif %}
<div class="clear"></div>
